<html>
  <head>
    <title>Aprendendo NodeJS com GoNode</title>
  </head>
  <body>
    {# {% for nome in nomes %}
      Bem-vindo ao sistema, {{ nome }} <br />
    {% endfor %} #}
    <form action="/auth" method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Logar</button>
    </form>
  </body>
</html>