<html>
  <head>
    <meta charset="utf-8">
    <title>Snippetfy | Salve seus snippets de código</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/dracula.css">

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-fgpcb/kjqllnfou91ta32o/nmzxltwro8qtmkmrdau8="
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script src="/main.js"></script>
  </head>
  <body>
    {% include 'partials/flash.njk' %}

    {% block body %}{% endblock %}
  </body>
</html>
